/* simple styles to be used for the board breakup and make sure it's responsive for mobile */
.wrapper {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(5, auto);
  max-width: 100%;
  max-height: 100%;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
  border: 1px black solid;
  cursor: pointer;
}

.tile--set {
  background: #cefad0;
}
